<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <a href="/loguit"><button>Log uit</button></a>
    <p>Add your favorite movies to the list!</p>
    <div class="input">
    <form action="/create" method="post">
        <input type="text" name="title" value="title">
        <input type="text" name="director" value="director">
        <input type="text" name="rate" value="rate">
        <input type="text" name="duration" value="duration">
        <input type="text" name="genre" value="genre">
        <input type="text" name="year" value="year">
        <input type="submit" value="submit">
    </div>

    </form>
</body>
</html>