<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>your movie</title>
</head>
<body>
    <a href="/loguit"><button>Log uit</button></a>
    <p>Result of your favorite movies!</p>
    
        <a href="search"><button >search again</button></a>
        <a href="create"><button >add movie</button></a>
    
        <ul>
        {{#each movies}}
        <div class="list">
            <li>title: {{this.title}}</li>
            <li>year: {{this.year}}</li>
            <li>rate: {{this.rate}}</li>
        </div>
        {{/each}}
        </ul>
   

</body>
</html>