<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <p>Welcome to Flipi Flipi Flopi Flu movie database!</p>

    <div class="login input">
        <form action="/login" method="post">
            Username: <input type="text" name="username" value="">
            Password: <input type="password" name="password" value=""><br>
            <input type="submit" value="Log in">
        </form> 
        {{!-- {{#comando}}
        {{output}}
        <p class="try"></p> --}}

        <p>or</p>

        <a href="/register"><button>register</button></a>
     
        
    </div>
</body>
</html>